#resp-msg,
#form-card,
#password-listing,
.hidden {
    display: none;
}

#main-logo {
    display: block;
    width: 200px;
    margin: auto;
}

#slogan {
    display: block;
    margin: auto;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.main-nav-logo {
    width: 90px;
    padding-bottom: 10px;
}

.message {
    text-align: center;
    font-size: 20px;
    color: white;
    display: none;
}

/* Floating action button */
.fab{
    position: fixed; bottom: 30px; right: 30px; width: 60px; height: 60px; border-radius: 50%; background-color: #0d6efd; color: white; font-size: 36px; text-align: center; line-height: 60px; box-shadow: 0px 4px 6px rgba(0,0,0,0.3); z-index:1000; text-decoration:none;
}

.list-group-item{ cursor: pointer }
