<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('web.home') }}">NotesCraft</a>
    {% if request.cookies.get('token') %}
    <a class="navbar-brand" href="{{ url_for('web.settings') }}">Hello, {{ username }}!</a>
    {% endif %}
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- Left side -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('web.home') }}">Home</a>
        </li>
      </ul>

      <!-- Right side -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if request.cookies.get('token') %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('web.logout') }}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('web.login') }}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('web.register') }}">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
